body {
  background-color: #ccffdd;
}

.jumbotron {
  background-color: #66ff99;
}

.info {
  display: none;
  border: 3px solid black;
}

.info h1 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

.info p {
  font-size: 16pt;
  text-align: center;
  margin: 15px;
}

.info img {
  width: 50%;
  margin: auto;
  display: block;
}

/*#turtle-pic {
  width: 50%;
}

#snake-pic {
  width: 50%;
}

#insect-pic {
  width: 50%;
}*/
